In [1]:
# -*- coding: utf-8 -*-
"""
Created on Mon Jun 24 21:26:33 2019

@author: Jeremy Seow
"""

#import quandl
import yfinance as yf
from pandas_datareader import data as pdr

# quandl free version doesnt give the latest data
#mydata = quandl.get("EOD/JPM", authtoken="ZbbyCDbCi5C26vNHwD87")
#data = mydata.iloc[:,:4]
yf.pdr_override() 
stock_syms = ["JPM"]
for sym in stock_syms:
    data = pdr.get_data_yahoo(sym, start="2015-01-01")
    data.to_csv(sym + '_stock_data.csv')

[*********************100%***********************]  1 of 1 downloaded

In [2]:
import pandas as pd

data = pd.read_csv('JPM_stock_data.csv', index_col=0)
data.index = pd.to_datetime(data.index)

In [3]:
# Get daily price difference
data['Diff'] = data.Close - data.Close.shift(1)
data[['Close', 'Diff']].to_csv('JPM_daily_stock.csv', header=['Close', 'PriceDiff'])
data[['Close', 'Diff']].head()

            Close  Diff
Date
2014-12-31  62.58   NaN
2015-01-02  62.49 -0.09
2015-01-05  60.55 -1.94
2015-01-06  58.98 -1.57
2015-01-07  59.07  0.09

In [4]:
# Get weekly price difference
agg_data = data[['Close']].resample('1w').agg({'Mean':'mean','Min':'min','Max':'max'})
agg_data.columns = agg_data.columns.get_level_values(0)

agg_data_diff = agg_data.pct_change()
agg_data.pct_change()

agg_data.join(agg_data_diff, rsuffix='diff').to_csv('JPM_weekly_stock.csv')
agg_data.join(agg_data_diff, rsuffix='diff').head()

c:\users\jessi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version

               Mean    Min    Max  Meandiff   Mindiff   Maxdiff
Date
2015-01-04  62.5350  62.49  62.58       NaN       NaN       NaN
2015-01-11  59.6660  58.98  60.55 -0.045878 -0.056169 -0.032438
2015-01-18  57.0800  54.99  58.84 -0.043341 -0.067650 -0.028241
2015-01-25  56.4675  55.71  57.59 -0.010731  0.013093 -0.021244
2015-02-01  55.5540  54.38  56.77 -0.016177 -0.023874 -0.014239